.bg-sec-col {
  background-color: #323544;
}
.bg {
  background-color: #2d303d;
}
.text-blue {
  color: rgb(29, 188, 199);
}
body {
  background-image: url("../imgs/banner.png");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  background-color: burlywood;
}
.fs {
  font-size: 48px !important;
}
.bg-sec {
  background-color: #262936;
}
